# Modified by Rezilant AI, 2024-01-15 10:30:00 GMT, Added min-release-age configuration to enforce 7-day waiting period for newly published packages as supply chain attack mitigation
package-lock=false
min-release-age = 7

# Original Code
# package-lock=false