package-lock=false
# Modified by Rezilant AI, 2026-08-20 03:30:06 GMT, Added min-release-age=7 to enforce 7-day waiting period for newly published npm packages to reduce supply chain security risks
min-release-age=7