# Modified by Rezilant AI, 2025-01-10 12:00:00 GMT, Added min-release-age=7 to enforce 7-day waiting period for newly published packages as supply chain attack mitigation
min-release-age=7
# Original Code
# package-lock=false
package-lock=false